#app,
body,
html {
    height: auto;
}

.app,
body {
    overflow: hidden
}


@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/roboto-v20-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2) format('woff2')
}

@font-face {
    font-family: weather-icons;
    src: url(../fonts/weather-icons.woff) format("woff")
}


[class*=" weather-icon-"],
[class^=weather-icon-] {
    font-family: weather-icons !important;
    font-size: var(--font-size);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.weather-icon-overcast:before {
    content: "\e900";
}
.weather-icon-light-rain:before {
    content: "\e901";
}
.weather-icon-moderate-rain:before {
    content: "\e902";
}
.weather-icon-sun:before {
    content: "\e903";
}
.weather-icon-partially-cloudy:before {
    content: "\e904";
}
.weather-icon-mostly-cloudy:before {
    content: "\e905";
  }
.weather-icon-heavy-rain:before {
    content: "\e909";
}
.weather-icon-minus:before {
    content: "\ea0b";
}
.weather-icon-arrow-up:before {
    content: "\ea32";
}
.weather-icon-arrow-down:before {
    content: "\ea36";
}

html {
    outline: 0
}

body {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-sans-serif, Roboto)
}

#app {
    border-radius: var(--border-radius, none);
    background-color: var(--theme-bg-color);
    display: inline-block;
    padding: 0.2em;
    width: auto;
    height: auto;
}

.header {
    padding: 0.2em;
}

.app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif, Roboto);
    padding: 0.1em 0.2em;
    width: auto;
    height: auto;
    line-height: 1;
}
body>#app>.app {
    color: var(--theme-text-color)
}
.app>.wrap {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.6em;
    align-items: baseline;
    width: auto;
    height: auto;
}

.app>.wrap>.cell {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 0;
    padding-right: 0.6em;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.app>.wrap>.cell:nth-child(3n) {
    border-right: none;
}
.app>.wrap>.cell>.header,
.app>.wrap>.cell>.value {
    white-space: nowrap;
    cursor: default;
    transition: .1s color linear;
    line-height: 1;
    margin: 0;
}

.app>.wrap>.cell>.header {
    margin: 0;
}

.app>.wrap>.cell>.value {
    font-family: var(--font-family-sans-serif, Roboto);
    margin-left: 0;
    margin-right: 0;
}

.app>.wrap>.cell>.value.track-wetness {
}

.precipitation-value {
}

.div-inline {
    display: flex; 
    align-items: center;
}

.div-inline > div {
    display: inline-flex;
    align-items: center;
}

.div-inline>.ml {
    margin-left: 0;
}
.div-inline>.mr {
    margin-right: 0;
}

.div-inline>.m {
    margin-left: var(--theme-margin);
    margin-right: var(--theme-margin);
}

.icon {
}

.arrow-icon {
    width: var(--font-size);
    height: var(--font-size);
    display: inline-block;
    vertical-align: middle;
}

.prec-up {
    color: var(--theme-prec-up);
}

.prec-down {
    color: var(--theme-prec-down)
}

.track-wetness.blink-red {
    animation: blink-red 1s 7;
}

.track-wetness.blink-green {
    animation: blink-green 1s 7;
}

@keyframes blink-red {
    0%, 50% { color: red; }
    50.1%, 100% { color: var(--theme-text-color); }
}

@keyframes blink-green {
    0%, 50% { color: green; }
    50.1%, 100% { color: var(--theme-text-color); }
}
